#header {
    background-color:black;
	
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:brown;
	//background-image: url("image.jpg");
    height:550px;
    width:450px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
h4{font-size:80px;}

p
{
font-family: "Comic Sans MS", cursive, sans-serif;
}
input
{
border-radius:5px;
}
